#recipes-list > .box {
    margin-bottom: 0;
}

#recipes-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
}

.recipe {
    &-thumbnail {
        margin-right: 1em;
    }

    &-content {
        flex-grow: 1;

        &-title {
            font-weight: bold;
            font-size: 1.5em;
            margin: 0;
            padding: 0 0 3px 0;
        }

        &-ingredients {
            font-style: italic
        }
    }
}
